body,html {
    height: 100%;
    color: black;
    background: white;
    overflow: hidden;

}

.header{
    font-size: 50px;
    margin-top: 2%;
    margin-left: 75%;

}

.header2{
    font-size: 35px;
    font-family: Georgia, serif;
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: -60%;

}

.container{
    text-align: center;
    margin-left: -12%;
}

.table-responsive{
    text-align: center;
    margin-left: 90%;
    margin-bottom: 100%;
    margin-top: -40%;

}


.chat-container {
    margin: 0px;
    padding: px;
}

.chat-message {
    padding: 6px;
    border-radius: 3px;
    margin-bottom: 3px;
}


.btn-primary {
    color: black;
    background-color: deepskyblue;
    border-color: black;
}

a {
    color: blue;
    text-decoration: none;
    background-color: transparent;
}




#myInput {
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#reminders {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#reminders tr.header, #reminders tr:hover {
    background-color: #f1f1f1;
}

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    height: 100%;
    margin-bottom: 60px;
}

.carousel,
.active {
    height: 100%;
    margin-bottom: 60px;
}
